* {
    padding:0;
    margin:0;
    font-family:"Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
    font-size:16px;
	color:#a4a5a8;
}

QWidget[class='list_title']{
    background-color:#191d2d;
    padding:10px;
}

QLabel[class='list_title']{
    background-color:#24283d;
    padding:10px;
}

QWidget[class='toolbar']{
    padding:10px 0;
    border-top:1px solid #2e3557;
    border-bottom:1px solid #2e3557;
}

#Form_login{
   background-color:#191d2d;
}

#Form_login QLabel{
    color:#fff;
}

#Form_login QLineEdit{
    height:30px;
    border-radius:2px;
    padding-left:10px;
}

#label_login_title{
    font-size:22px;
    font-weight:600;
    color:#fff;
}

QPushButton#login_btn{
    height:24px;
    padding:4px 15px;
    color:#fff;
    outline:0;
    border:1px solid #66b1ff;
    background-color:#66b1ff;
    border-radius:2px;
    cursor:pointer;
}
QPushButton#login_btn:hover,QPushButton#login_btn:focus{
    color:#fff;
    border:1px solid #3a8ee6;
    background-color:#3a8ee6;
    cursor:pointer;

}

QLabel#label_password,QLabel#label_username{
    color:#a4a5a8;
}


#Form_home{
    background-color:#191d2d;
    color:#a4a5a8;
}
#label_system_title{
    color:#fff;
}

#widget_top{
    background-color:#24283d;
    border-bottom:2px solid #191d2d
}

#widget_bottom {
    background-color:#24283d;
}


#widget_nav QPushButton{
    background-color:transparent;
    color:#a4a5a8;
    border:none;
}

#widget_nav QPushButton:hover,#widget_nav QPushButton:focus,#widget_nav QPushButton[class="active"]{
    background-color:transparent;
    color:#409eff;
}

QLineEdit,QComboBox,QDateTimeEdit,QDoubleSpinBox{
    height:26px;
    padding:2px 5px;
    outline:none;
    border:1px solid #2e3557;
    background:transparent;
}

QComboBox QAbstractItemView::item {
    width:200px;
    height:30px;
}

/*按钮样式*/
QPushButton{
    height:22px;
    border-radius:2px;
    cursor:pointer;
    font-weight:400;
    padding:4px 10px;
    vertical-align:middle;
}

QPushButton[sizeBtn='medium']{
    padding:4px 12px;
    margin-right:10px;
}

QPushButton[class="toolButton"]{
    padding:0;
    margin:0;
}
QPushButton[class="default"]{
    background-color:#fff;
    border:1px solid #dcdfe6;
    color:#606266;
}

QPushButton[class="default"]:hover{
    background-color:#ecf5ff;
    color:#409eff;
    border:1px solid #c6e2ff;
}

QPushButton[class="primary"]{
    background-color:#409eff;
    border:1px solid #409eff;
    color:#fff;
}

QPushButton[class="primary"]:hover{
    background-color:#66b1ff;
    border:1px solid #66b1ff;
}

QPushButton[class="danger"]{
    background-color:#f56c6c;
    border:1px solid #f56c6c;
    color:#fff;
}

QPushButton[class="danger"]:hover{
    background-color:#f78989;
    border:1px solid #f78989;
}

QPushButton#pushButton_onvif{
    transition: all 1s;
    line-height:1;
    outline:none;
    border-radius:2px;
    border:1px solid #2e3557;
    background:#3c3e62;
    color:#a4a5a8;
}

QPushButton#pushButton_onvif:hover{
    background-color:#41436b;
    color:#fff;
    border-color:#2e3557;
}

QPushButton#pushButton_add_camera{
    border:1px solid #3c3e62;
}

QPushButton#pushButton_add_camera:hover{
   background-color:#3c3e62;
   color:#fff;
}

QPushButton[class='addButton']{
    padding:0;
    margin:0;
    border-radius:10px;
    line-height:20px;
    background-color:transparent;
    outline:none;
    border:1px solid #2e3557;
}

QPushButton[class='addButton']:hover{
    background-color:#3c3e62;
    color:#fff;
    border:1px solid #2e3557;
}

Dialog{
    background-color:#fff;
}


/*表格样式*/
QTableWidget{
    background:transparent;
    border:1px solid #242424;
    alternate-background-color:#26294a;/*交错颜色*/
    gridline-color:#191d2d;
}
/*选中item*/
QTableWidget::item{
}

/**/
QTableWidget::item{
    color:#a4a5a8;
}
QTableWidget::item:hover{
    background:#191d2d;
}

/*表头*/
QHeaderView::section{
    text-align:center;
    background:#191d2d;
    padding:3px;
    margin:0px;
    color:#DCDCDC;
    border:1px solid #191d2d;
    border-left-width:0;
}

/*表右侧的滑条*/
QScrollBar:vertical{
    background:#191d2d;
    padding:0px;
    border-radius:6px;
    max-width:12px;
}
/*滑块*/
QScrollBar::handle:vertical{
    background:#000;
}

QScrollBar::handle:hover:vertical,QScrollBar::handle:pressed:vertical{
    background:#000;
}

QScrollBar::sub-page:vertical{
    background:#191d2d;
}

QScrollBar::add-page:vertical{
    background:#191d2d;
}

QScrollBar::add-line:vertical{
    background:none;
}
QScrollBar::sub-line:vertical{
    background:none;
}


QScrollBar:horizontal{
    background:#191d2d;
    padding:0px;
    border-radius:6px;
    max-height:12px;
}

QScrollBar::handle:horizontal{
    background:#000;
}

QScrollBar::handle:hover:horizontal,QScrollBar::handle:pressed:horizontal{
    background:#000;
}

QScrollBar::sub-page:horizontal{
    background:#191d2d;
}

QScrollBar::add-page:horizontal{
    background:#191d2d;
}

QScrollBar::add-line:horizontal{
    background:none;
}
QScrollBar::sub-line:horizontal{
    background:none;
}

/*美化QListWidget*/
QListWidget,#label_camera,#widget_setting,#widget_face,#widget_video_show,#widget_task_video{
    background-color:transparent;
    border:1px solid #2e3557;
}

QPushButton#pushButton_close{
    padding:0;
    margin:0;
    width:20px;
    height:20px;
    border-radius:10px;
    background-color:#000;
    vertical-align:top;
}
QPushButton#pushButton_close:hover{
    color:red;
}

#widget_tools{
      border-top:1px solid #2e3557;
}

QListWidget{
    background-color:#24283d;
}

QListWidget::Item{
}

QListWidget::Item:hover{
}
QListWidget::item:selected{
}
QListWidget::item:selected:!active{
}

QScrollArea,#scrollArea QWidget{
    background-color:transparent;
    border:none;
}

QLabel[class='error']{
    color:#bd0d01;
}